@use '../util' as *;

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}
html {
  font-style: normal;
  font-weight: normal;
}

body {
  font-family: var(--ff-sans);
  font-weight: 400;
  font-size: var(--fs-reg);
  line-height: 150%;
  position: relative;
  font-style: normal;
}

html,
body {
  margin: 0px auto;
  width: 100%;
  box-sizing: border-box;
  background: var(--clr-off-black);
  color: var(--clr-white);
}

.visually-hidden {
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}
